<ion-header no-border>
  <ion-toolbar color="pvn">
    <ion-title >{{title}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="green"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="medium" (click)="onCancel()">
        <ion-icon slot="icon-only"  name="ios-arrow-down"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <!--<ion-refresher slot="fixed" (ionRefresh)="loadData(true, $event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>-->
  <ion-card>
    <ion-card-header>
      {{title}}
    </ion-card-header>
    <ion-card-content>
      <div [innerHTML] = "detail">

      </div>
    </ion-card-content>
  </ion-card>

</ion-content>