<ion-header>
  <ion-toolbar color="pvn">
    <ion-buttons slot="start">
      <ion-button (click)="toggleSideMenu()">
        <ion-icon class="menu-icon"  name="md-menu" color="light" slot="start"></ion-icon>
      </ion-button>
    </ion-buttons>
      <div  class="content_header">
          <img style="vertical-align: baseline" src="http://222.255.252.41/content/uploads/logo.jpg" alt="">
          <div class="text" >
              <div class="big_text">TẬP ĐOÀN DẦU KHÍ QUỐC GIA VIỆT NAM </div>
              <div class="small_text">Cơ sở dữ liệu an toan sức khoẻ môi trường </div>
          </div>
      </div>
    <!--<ion-title color="light" class="main-b-header7">Hệ thống kiểm tra</ion-title>-->
    <ion-buttons slot="end">
      <ion-button (click)="onOpenModal()">
        <ion-icon class="menu-icon"  name="apps" color="light" slot="end"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar >
  <ion-toolbar color="light">
    <ion-searchbar color="" placeholder="Lọc danh sách "
                   [(ngModel)]="searchTerm"
                   search-icon="ion-pin" ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content padding>
 <!-- <ion-refresher slot="fixed" (ionRefresh)="loadData(true, $event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>-->
  <div id="card-list">
    <ion-list >
     <!-- <ion-card *ngFor="let audit of CompArrs">
        <ion-card-header>
          {{audit.data.comp.title.vi}}
        </ion-card-header>
        <div text-right padding>
          <ion-button fill="clear" slot="primary"  color="primary" [routerLink]="['/','tabs','tab2','audits-detail',audit.uuid]"> Process</ion-button>
        </div>
      </ion-card>-->
      <ion-card color="" class="real-card-audit slide-up"  *ngFor="let audit of filteredCompArrs , let i = index"    (click)="openDetail('side-menu/audit/tabs/tab1/audit-detail',audit.uuid)" >
        <ion-card-header>
            <ion-label><ion-text color="pvn"><h2 class="main-b-header7">{{i +1 }}. {{audit.data.comp.title.vi}}</h2></ion-text></ion-label>
            <ion-card-subtitle>{{audit.data.comp.addr.vi}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content class="card1">

<!--
          <ion-label><ion-text color="pvn"><h2 class="main-b-header7">{{i +1 }}. {{audit.data.comp.title.vi}}</h2></ion-text></ion-label>
-->

          <!--<ion-item lines="none">
            <ion-button fill="outline" expand="block" slot="end" color="success"  [routerLink]="['/','side-menu','audit']" >
              Xem
              </ion-button>
          </ion-item>-->

        </ion-card-content>
      </ion-card>

    </ion-list>
  </div>
   <!-- <div>
        <ion-button (click)="checkToken()">
            <ion-icon class="menu-icon"  name="apps" color="light" slot="end">check token</ion-icon>
        </ion-button>
    </div>-->
    <!--<ion-button color="primary" (click)="getHTTP3()">
    Test
    </ion-button>-->
</ion-content>
