.horizontal-scroll {
  margin-left: 12px;
  white-space: nowrap;
  height: auto;
  overflow-X: scroll;
  overflow-y: auto;

}
//********** horizontal agent list **********//
.agent-icon  {
  display: inline-block;
  // width: 100px !important;
  // height:100px !important;
  margin: 0px 5px 0px 5px !important;
}
.info-card-2{
  background-color: #fff;
  border-radius: 0px  !important;
  // remove shadow //
  margin-left: 0px !important;
  margin-right: 0px !important;
  -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0)  !important;
  box-shadow: 0 4px 16px rgba(0,0,0,0) !important;
}
ion-content {
  //background-color: #ddd !important;
  //--background: #F9F9F9;
}
ion-icon {
  color: #454545;
  font-size: 30px;
}
ion-item{
  //--background :#F9F9F9;
}
ion-searchbar ion-icon{
  font-size: 20px !important;
}
.transparent{
  --background: rgba(0,0,0,0);
  --border-color: rgba(0,0,0,0);
}
ion-row{
  ion-card{
    width:100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    img{
      width:100%;
    }
  }
}
ion-col{
  padding: 0px !important;
}
.card1-padding{
  padding: 12px 10px !important;
  //margin: 0px !important;
}
.item-accordion {
  line-height: 30px;
  transition: 0.09s all linear;
  padding: 0 15px;
}
.item-accordion.ng-hide {
  line-height: 0px;
}
.item-accordion.ng-hide-add,
.item-accordion.ng-hide-remove {
  display: block !important;
}

.hidden {
  display: none !important;
}