<ion-header>
    <ion-toolbar color="pvn">
        <ion-buttons style="color: white !important;" slot="start">
            <ion-buttons >
                <ion-back-button></ion-back-button>
            </ion-buttons>
        </ion-buttons>
        <div  class="content_header">
            <img style="vertical-align: baseline" src="http://222.255.252.41/content/uploads/logo.jpg" alt="">
            <div class="text" >
                <div class="big_text">TẬP ĐOÀN DẦU KHÍ QUỐC GIA VIỆT NAM </div>
                <div class="small_text">Cơ sở dữ liệu an toan sức khoẻ môi trường </div>
            </div>
        </div>
    </ion-toolbar >
</ion-header>

<ion-content no-padding>

    <!--<ion-segment color="pvn" padding="1" [(ngModel)]= type>
        <ion-segment-button value="list">
            Danh sách
        </ion-segment-button>
        <ion-segment-button value="statistics">
            Thống kê
        </ion-segment-button>

    </ion-segment>-->
<!--
    [ngSwitch]=type
-->
    <div >
        <div> <!--*ngSwitchCase="'list'" -->
            <div class="profile-form"  *ngFor="let c of temp?.checkList" >
                <ion-card class="info-card-2" ng-if="c.title.vi !='Rủi ro'">
                    <ion-list>
                        <ion-item  (click)="onShow(c)">
                          <!--  <i class="icon" ng-class="isGroupShown(c) ? 'ion-minus' : 'ion-plus'"></i>-->
                            <ion-icon color="pvn" style="zoom: 0.8;" *ngIf="!isGroupShown(c)" name="arrow-forward"></ion-icon>
                            <ion-icon color="pvn" style="zoom: 0.8;" *ngIf="isGroupShown(c)" name="arrow-down"></ion-icon>
                            <ion-label style="font-weight: 700;"  color="pvn">
                                 Lĩnh vực: {{c.title.vi}}
                            </ion-label>
                        </ion-item>
                        <ng-container *ngFor="let d of c?.children,let i = index">
                            <ion-item *ngIf="d.checked && isGroupShown(c)" (click)="onOpenModal(c.title.vi,d.title.vi)" class="item-accordion"  >
                                <ion-label style="font-size: 15px">
                                     {{d.title.vi}}
                                </ion-label>
                            </ion-item>
                        </ng-container>
                    </ion-list>
                </ion-card>
            </div>
        </div>

      <!--  <div class="profile-form"  *ngSwitchCase="'statistics'">

        </div>-->
    </div>
</ion-content>
